<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.admin">
	<select id="adminList" resultType="AdminVo">
	<![CDATA[
	select * from
		(select fno as "number", f_title as "title", f_regdate as "regdate" from tbl_free
		where nickname= #{nickname}
			union
		select rno as "number", r_title as "title", r_regdate as "regdate" from tbl_recipe
		where nickname= #{nickname}
			union
		select gbno as "number", gb_title as "title", gb_regdate as "regdate" from tbl_group_board
		where nickname= #{nickname}
			union
		select uno as "number", ur_title as "title", ur_regdate as "regdate" from tbl_userroutine
		where nickname= #{nickname}
		order by "regdate" desc)
	where rownum <= 5	
	]]>
	</select>
	
	<select id="getGroupInfo" resultType="testVo">
		select g.gno, g_name, g_attend, g_present, g_leader, u.userid, u.u_pic
		from tbl_group g, tbl_group_join j, tbl_user u
		where j.userid = u.userid 
		and g.gno = j.gno 
		order by g_name
	</select>
	
	<select id="getGno" resultType="int">
		select gno from tbl_group_join
		where nickname = #{nickname}
	</select>
	
	<select id="getGmember" resultType="String">
		select nickname from tbl_group_join
		where gno = #{gno}
	</select>
	
	<!-- 그룹장 변경 -->
	<update id="updateGLeader">
		update tbl_group set
		g_leader = #{g_leader}
		where gno = #{gno}
	</update>
</mapper>