<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.calendar">

	<select id="selectById" resultType="CalendarVo">
		select * from calendar
		where userid = #{userid}
<!-- 		and start1 like '%' || #{month} || '%' -->
		order by start1 asc, cno asc
	</select>
	
<!-- 	일정 추가  -->
	<insert id="insertCal">
		insert into calendar(indx, userid, content, start1, cno)
		values(cal_index.nextval, #{userid}, #{content}, #{start1}, #{cno, jdbcType=VARCHAR})
	</insert>	
	
<!-- 	일정 목록 -->
	<select id="getCalList" resultType="CalendarVo">
		select * from calendar
		where userid = #{userid}
	</select>
	
	<update id="updateCheck">
		update calendar set
		checklist = #{checklist}
		where userid = #{userid}
		and start1 = #{start1}
		and content = #{content}
	</update>
	
	<select id="getCount" resultType="int">
		select count(*) from calendar
		where start1 = #{start1}
		and userid = #{userid}
	</select>
</mapper>