<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.team.mappers.freecomment">
 
 <!-- 댓글 등록 -->
 <insert id="insertFreeComment">
 	insert into tbl_fcomment (fcno, fno, fc_comment, nickname, u_pic)
 	values(seq_fcomment_fcno.nextval, #{fno}, #{fc_comment}, #{nickname}, #{u_pic, jdbcType=VARCHAR})
 </insert>
 
 <!-- 댓글 목록 -->
 <select id="commentFreeList" resultType="FreeCommentVo">
 	select * from tbl_fcomment
 	where fno = #{fno}
 	order by fcno desc
 </select>
 
 <!-- 댓글 수정 -->
 <update id="udpateFreeComment">
 	update tbl_fcomment set
 		fc_comment = #{fc_comment}
 	where fcno = #{fcno}
 </update>
 
 <!-- 댓글 삭제 -->
 <delete id="deleteFreeComment">
 	delete from tbl_fcomment
 	where fcno = #{fcno}
 </delete>
 
 <!--  댓글 전체 삭제 -->
 <delete id="deleteFreeCommentAll">
 	delete from tbl_fcomment
 	where fno = #{fno}
 </delete>
 
<!--  유저 작성 댓글 조회 -->
<select id="adminFreeComment" resultType="FreeCommentVo">
	select fcno, fno, fc_comment, f_regdate from tbl_fcomment
	where nickname = #{nickname}
</select>
 
 </mapper>