<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.groupcalendar">

<!-- 그룹별 일정 불러오기 -->
<select id="getGroupCal" resultType="GroupCalendarVo">
	select * from tbl_group_calendar
	where gno = #{gno}
	order by gc_date asc
</select>

<!-- 달력에 일정 집어넣기 -->
<insert id="insertGroupCal">
	insert into tbl_group_calendar(gcno, gno, userid, gc_content, gc_date)
	values(seq_group_calendar_gcno.nextval, #{gno}, #{userid}, #{gc_content}, #{gc_date})
</insert>

<!-- 달력에 집어넣을 수 있는 일정 수 제한하기 위한,, -->
<select id="getScheduleCnt" resultType="int">
	select count(*) from tbl_group_calendar
	where gno = #{gno} and gc_date = #{gc_date}
</select>

<!-- 달력 일정 수정 -->
<update id="updateGroupCal">
	update tbl_group_calendar set
		gc_content = #{gc_content}
	where gcno = #{gcno}
</update>

<!-- 달력 일정 삭제 -->
<delete id="deleteGroupCal">
	delete from tbl_group_calendar
	where gcno = #{gcno}
</delete>

</mapper>