<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.groupcalendar">

<!-- 그룹별 일정 불러오기 -->
<select id="getGroupCal" resultType="GroupCalendarVo">
	select * from tbl_group_calendar
	where gno = #{gno}
	order by gc_date asc, gc_todo_cnt desc
</select>

<!-- 달력에 일정 집어넣기 -->
<insert id="insertGroupCal">
	insert into tbl_group_calendar(gno, userid, gc_content, gc_date, gc_todo_cnt)
	values(#{gno}, #{userid}, #{gc_content}, #{gc_date}, seq_group_calendar_gc_todo_cnt.nextval)
</insert>

<!-- 달력에 집어넣을 수 있는 일정 수 제한하기 위한,, -->
<select id="getScheduleCnt" resultType="int">
	select count(*) from tbl_group_calendar
	where gno = #{gno} and gc_date = #{gc_date}
</select>

</mapper>