<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.team.mappers.groupboard">
 
 <!-- 글 등록 -->
 <insert id="create"> <!-- (String일 경우)null을 허용할 경우 다음과 같이 해야 함(sql 작성 시 널값을 허용한다고 했어도) -->
 	insert into tbl_group_board
 		(gbno, gb_title, gb_content, userid, gb_notice, gb_pic, gno)
 	values
 		(seq_group_board_gbno.nextval, #{gb_title}, #{gb_content}, #{userid},
 		 #{gb_notice, jdbcType=VARCHAR}, #{gb_pic, jdbcType=VARCHAR}, #{gno})
 </insert>
 
 <!-- 글 조회 -->
 <select id="read" resultType="GroupBoardVo">
 	select * from tbl_group_board
 	where gbno = #{gbno}
 </select>
 
 <!-- 글 수정 -->
 <update id="update">
 	update tbl_group_board set
 		gb_title = #{gb_title},
 		gb_content = #{gb_content},
 		gb_pic = #{gb_pic, jdbcType=VARCHAR}
 	where gbno = #{gbno}
 </update>
 
 <!-- 글 삭제 -->
 <delete id="delete">
 	delete from tbl_group_board
 	where gbno = #{gbno}
 </delete>
 
 <!-- 글 목록 -->
 <select id="list" resultType="GroupBoardVo">
<!--  	select * from tbl_group_board -->
<!--  	where gno = #{gno} -->
<!--  	order by gbno desc -->
<!--  	select * from (select rownum rnum, a.* from -->
<!--  		(select * from tbl_group_board -->
<!--  		 <include refid="search"></include>) a) -->
<!--  	where gno = #{gno} and rnum between #{startRow} and #{endRow} -->
<!--  	order by gbno desc -->
 	
 	select * from (select rownum rnum, a.* from 
			(select * from tbl_group_board
            where gno = 11
 		 	<include refid="search"></include>
			order by gbno desc) a) 
		where rnum between #{startRow} and #{endRow}
 </select>
 
 <!-- 공지글만 뽑아내기 -->
 <select id="notice" resultType="GroupBoardVo">
 	select * from tbl_group_board
 	where gb_notice = 'on'
 	order by gbno desc
<!-- 	select * from (select * from tbl_group_board -->
<!-- 					where gb_notice = 'on') -->
<!-- 	where gno = #{gno} -->
 </select>
 
 <!-- 댓글 갯수 넣기 -->
 <update id="updateComment">
	update tbl_group_board
	set gb_comment = gb_comment + #{cnt}
	where gbno = #{gbno}
 </update>
 
<!-- 댓글 갯수 -->
<select id="countComment" resultType="int">
	select count(*) from tbl_group_board_comment
	where gbno = #{gbno}
</select>

<!-- 기존 사진 가져오기 -->
<select id="getGb_picById" resultType="String">
	select gb_pic from tbl_group_board
	where gbno = #{gbno}
</select>

<!-- 그룹장 변경 -->
<update id="updateGLeader">
	update tbl_group set
	g_leader = #{g_leader}
	where gno = #{gno}
</update>

<!-- 그룹장 이름 뽑아내기 -->
<select id="pickGLeader" resultType="String">
	select g_leader from tbl_group
	where gno = #{gno}
</select>

<!-- 그룹원 정보 보기 -->
<select id="pickGroupMember" resultType="MemberVo">
	select * from tbl_user
	where userid = #{userid}
</select>

<!-- 글 갯수 -->
<select id="getCount" resultType="int">
	select count(*) from tbl_group_board
	where gb_notice = 'on' and gno = #{gno}
</select>

<!-- 그룹 메인 페이징 -->
<select id="getCountMain" resultType="int">
	select count(*) from tbl_group_board
	where gno = #{gno}
 		  <include refid="search"></include>
</select>

<!-- 검색 조건(참조용) -->
 <sql id="search">
 	<if test="searchType != null and keyword != null">
    	<choose>
    		<when test='searchType == "t"'>and gb_title like '%' || #{keyword} || '%'</when>
    		<when test='searchType == "c"'>and gb_content like '%' || #{keyword} || '%'</when>
    		<when test='searchType == "w"'>and userid like '%' || #{keyword} || '%'</when>
    	</choose>
    </if>
 </sql>
 
 <!-- 	회원 작성글 찾기  -->
	<select id="adminGroupBoardList" resultType="GroupBoardVo">
		select gbno, gb_title, gb_regdate from tbl_group_board
		where userid = #{userid}
	</select>
	
 </mapper>