<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.kcal">
	<!-- 	운동 Kcal 사전 -->
	<!-- 글 추가 -->
	<insert id="insertKcal">
		insert into tbl_kcal (kno, k_name, k_time, kcal, k_dgree, k_notes, k_pic)
		values (seq_kcal_kno.nextval, #{k_name}, #{k_time}, #{kcal}, #{k_dgree}, #{k_notes}, #{k_pic, jdbcType=VARCHAR})
	</insert>
	
	<!-- 글 수정 -->
	<update id="updateKcal">
		update tbl_kcal set
			k_name = #{k_name},
			k_time = #{k_time},
			kcal = #{kcal},
			k_dgree = #{k_dgree},
			k_notes = #{k_notes},
			k_pic = #{k_pic, jdbcType=VARCHAR}
		where kno = #{kno}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="deleteKcal">
		delete from tbl_kcal
		where kno = #{kno}
	</delete>
	
	<!-- 글 상세조회 -->
	<select id="selectByKno" resultType="KcalVo">
		select * from tbl_kcal
		where kno = #{kno}
	</select>
	
	<!-- 글 목록조회 -->
	<select id="listKcal" resultType="KcalVo">
		select * from (select rownum rnum, a.* from
			(select * from tbl_kcal
			order by kno desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
<!-- 	전체 글 갯수 구하기  -->
	<select id="getCountKcal" resultType="int">
		select count(*) from tbl_kcal
	</select>
	
	
</mapper>