<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.member">

	<insert id="joinMember">
		insert into tbl_user(userid, userpw, username, email, address, gender, nickname, age, u_point, u_pic)
		values(#{userid}, #{userpw}, #{username}, #{email}, #{address}, #{gender}, #{nickname}, #{age}, 100, #{u_pic, jdbcType=VARCHAR})
	</insert>
	
	<select id="login" resultType="MemberVo">
		select * from tbl_user
		where userid = #{userid}
		and userpw = #{userpw}
	</select>
	
	<select id="getU_picById" resultType="String">
		select u_pic from tbl_user
		where userid = #{userid}
	</select>
	
	<update id="updateMember">
		update tbl_user set
			userpw = #{userpw, jdbcType=VARCHAR},
			username = #{username},
			email = #{email},
			nickname = #{nickname},
			age = #{age},
			u_pic = #{u_pic, jdbcType=VARCHAR}
		where userid = #{userid}
	</update>
	
	<delete id="deleteMember">
		delete from tbl_user
		where userid = #{userid}
	</delete>
</mapper>