<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.recipe">
	<insert id="insertRecipe">
		insert into tbl_recipe(rno, r_title, r_content, nickname, r_pic, r_product)
			values(seq_recipe_rno.nextval, #{r_title}, #{r_content}, #{nickname},
				#{r_pic, jdbcType=VARCHAR}, #{r_product, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectRecipe" resultType="RecipeVo">
		select * from (select rownum rnum, a.* from 
			(select * from tbl_recipe
			<include refid="search"/>
			order by rno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<update id="updateRecipe">
		update tbl_recipe set r_title = #{r_title}, r_content = #{r_content}, 
			r_pic = #{r_pic, jdbcType=VARCHAR}, r_product = #{r_product, jdbcType=VARCHAR}
			where rno = #{rno}
	</update>
	
	<delete id="deleteRecipe">
		delete from tbl_recipe where rno = #{rno}
	</delete>
	
	<select id="contentByRno" resultType="RecipeVo">
		select * from tbl_recipe where rno = #{rno}
	</select>
	
	<update id="updateViewcnt">
		update tbl_recipe set r_viewcnt = #{r_viewcnt, jdbcType=INTEGER} + 1
			where rno = #{rno}
	</update>
	
	<select id="selectByViewCnt" resultType="RecipeVo">
		select * from
			(select * from tbl_recipe
			order by r_viewcnt desc)
		where rownum &lt;= 3
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_recipe<include refid="search"/>
	</select>
	
 	<select id="countComment" resultType="int">
 		select count(rlno) from tbl_rcomment where nickname = #{nickname} and rno = #{rno}
	</select>
	
	<insert id="insertLike">
		insert into tbl_recipe_like(rlno, rno, nickname)
			values(seq_recipe_rlno.nextval, #{rno}, #{nickname})
	</insert>
	
	<delete id="deleteLike">
		delete from tbl_recipe_like where rno = #{rno} and nickname = #{nickname}
	</delete>
	
	<delete id="deleteLikeAll">
		delete from tbl_recipe_like where rno = #{rno}
	</delete>
	
	<select id="countLike" resultType="int">
		select count(*) from tbl_recipe_like where rno = #{rno} and nickname = #{nickname}
	</select>
	
	<update id="updateLikecnt">
		update tbl_recipe set r_like = #{r_like} where rno = #{rno}
	</update>
	
	<sql id="search">
		<if test="searchType != null and keyword != null">
				<choose>
					<when test='searchType == "t"'>where r_title like '%' || #{keyword} || '%'</when>
					<when test='searchType == "c"'>where r_content like '%' || #{keyword} || '%'</when>
					<when test='searchType == "w"'>where nickname like '%' || #{keyword} || '%'</when>
					<when test='searchType == "tc"'>
					where r_title like '%' || #{keyword} || '%'
					or r_content like '%' || #{keyword} || '%'</when>
					<when test='searchType == "tcw"'>
					where r_title like '%' || #{keyword} || '%'
					or r_content like '%' || #{keyword} || '%'
					or nickname like '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
	</sql>

<!-- 	회원 작성글 찾기  -->
	<select id="adminRecipeList" resultType="RecipeVo">
		select rno, r_title, r_regdate from tbl_recipe
		where nickname = #{nickname}
	</select>
</mapper>
