<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.recommend">
	<!-- 추천 운동 페이지 -->
	<!-- 글 추가 -->
	<insert id="insertRecommend">
		insert into tbl_recommend 
				(reno, re_content, re_title, re_pic)
		values (seq_recommend_reno.nextval, #{re_content}, #{re_title}, #{re_pic, jdbcType=VARCHAR})
	</insert>
	
	<!-- 글 수정 -->
	<update id="updateRecommend">
		update tbl_recommend set
			re_content = #{re_content},
			re_title = #{re_title}
		where reno = #{reno}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="deleteRecommend">
		delete from tbl_recommend
		where reno = #{reno}
	</delete>
	
	<!-- 글 상세조회 -->
	<select id="selectByReno" resultType="RecommendVo">
		select * from tbl_recommend
		where reno = #{reno}
	</select>
	
	<select id="selectByViewCnt" resultType="RecommendVo">
		select * from
			(select * from tbl_recommend
			order by re_viewcnt desc)
		where rownum &lt;= 3
	</select>
	
	<!-- 글 목록조회 -->
	<select id="listRecommend" resultType="RecommendVo">
		select * from tbl_recommend
		order by reno desc
	</select>
	
	<!-- 조회수 증가 -->	
	<update id="updateViewCnt">
		update tbl_recommend set
			re_viewcnt = #{re_viewcnt}
		where reno = #{reno}
	</update>
	
</mapper>