<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kh.team.mappers.reportboard">
 
 <!-- 신고하기 -->
 <insert id="insertReportBoard">
 	insert into tbl_report_board(rbno, rno, uno, fno, rcno, urcno, fcno, recno, rep_cause, sender, receiver, rep_etc)
 	values(seq_report_board_rbno.nextval, #{rno, jdbcType=VARCHAR}, #{uno, jdbcType=VARCHAR}, #{fno, jdbcType=VARCHAR}, #{rcno, jdbcType=VARCHAR}, 
 	#{urcno, jdbcType=VARCHAR}, #{fcno, jdbcType=VARCHAR}, #{recno, jdbcType=VARCHAR}, #{rep_cause},
 	#{sender}, #{receiver}, #{rep_etc, jdbcType=VARCHAR})
 </insert>
 
 <!-- 신고 내역 -->
<!--  <select id="getReportBoardList" resultType="ReportBoardVo"> -->
<!--  	select rep_cause from tbl_report -->
<!--  	where userid = #{userid} and gno = #{gno} -->
<!--  </select> -->
 
 <select id="getReportBoardList" resultType="ReportBoardVo">
 	select * from tbl_report_board
 	order by rbno desc
 </select>
 
<!--  신고내역 조회 -->
 <select id="getReportByRbno" resultType="ReportBoardVo">
 	select * from tbl_report_board
 	where rbno = #{rbno}
 </select>
 
<!--  신고 상태 업데이트 -->
<update id="updateRepState">
	update tbl_report_board set
		rep_state = 1
	where rbno = #{rbno}
</update>

<update id="updaetRecipeVisible">
	update tbl_recipe set
		visible = 1
	where rno = #{rno}
</update>

<update id="updaetRoutineVisible">
	update tbl_userroutine set
		visible = 1
	where uno = #{uno}
</update>

<update id="updaetFreeVisible">
	update tbl_free set
		visible = 1
	where fno = #{fno}
</update>

<update id="updaetRCommentVisible">
	update tbl_rcomment set
		visible = 1
	where rcno = #{rcno}
</update>

<update id="updaetURCommentVisible">
	update tbl_ucomment set
		visible = 1
	where urcno = #{urcno}
</update>

<update id="updaetFCommentVisible">
	update tbl_fcomment set
		visible = 1
	where fcno = #{fcno}
</update>

<update id="updaetRECommentVisible">
	update tbl_reccomment set
		visible = 1
	where recno = #{recno}
</update>
 </mapper>