<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.userroutine">
	<insert id="insertRoutine">
		insert into tbl_userroutine(uno, ur_title, ur_content, userid, ur_pic)
			values(seq_routine_uno.nextval, #{ur_title}, #{ur_content}, #{userid}, #{ur_pic, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectRoutine" resultType="RoutineVo">
		select * from (select rownum rnum, a.* from 
			(select * from tbl_userroutine
			<include refid="search"/>
			order by uno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="selectByViewCnt" resultType="RoutineVo">
		select * from
			(select * from tbl_userroutine
			order by ur_viewcnt desc)
		where rownum &lt;= 3
	</select>
	
	<update id="updateRoutine">
		update tbl_userroutine set ur_title = #{ur_title}, ur_content = #{ur_content}, ur_pic = #{ur_pic, jdbcType=VARCHAR}
			where uno = #{uno}
	</update>
	
	<delete id="deleteRoutine">
		delete from tbl_userroutine where uno = #{uno}
	</delete>
	
	<select id="contentByUno" resultType="RoutineVo">
		select * from tbl_userroutine where uno = #{uno}
	</select>
	
	<update id="updateViewcnt">
		update tbl_userroutine set ur_viewcnt = #{ur_viewcnt} + 1
			where uno = #{uno}
	</update>
	
	<insert id="insertLike">
		insert into tbl_routine_like(urlno, uno, userid)
			values(seq_routine_urlno.nextval, #{uno}, #{userid})
	</insert>
	
	<delete id="deleteLike">
		delete from tbl_routine_like where uno = #{uno} and userid = #{userid}
	</delete>
	
	<delete id="deleteLikeAll">
		delete from tbl_routine_like where uno = #{uno}
	</delete>
	
	<select id="countLike" resultType="int">
		select count(*) from tbl_routine_like where uno = #{uno} and userid = #{userid}
	</select>
	
	<update id="updateLikecnt">
		update tbl_userroutine set ur_like = #{ur_like} where uno = #{uno}
	</update>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_userroutine<include refid="search"/>
	</select>
	
	<sql id="search">
		<if test="searchType != null and keyword != null">
				<choose>
					<when test='searchType == "t"'>where ur_title like '%' || #{keyword} || '%'</when>
					<when test='searchType == "c"'>where ur_content like '%' || #{keyword} || '%'</when>
					<when test='searchType == "w"'>where userid like '%' || #{keyword} || '%'</when>
					<when test='searchType == "tc"'>
					where ur_title like '%' || #{keyword} || '%'
					or ur_content like '%' || #{keyword} || '%'</when>
					<when test='searchType == "tcw"'>
					where ur_title like '%' || #{keyword} || '%'
					or ur_content like '%' || #{keyword} || '%'
					or userid like '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
	</sql>
</mapper>
