<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.userroutine">
	<insert id="insertRoutine">
		insert into tbl_userroutine(uno, ur_title, ur_content, userid, ur_pic)
			values(seq_routine_uno.nextval, #{ur_title}, #{ur_content}, #{userid}, #{ur_pic, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectRoutine" resultType="RoutineVo">
		select * from tbl_userroutine order by uno desc
	</select>
	
	<update id="updateRoutine">
		update tbl_userroutine set ur_title = #{ur_title}, ur_content = #{ur_content}, ur_pic = #{ur_pic, jdbcType=VARCHAR}
			where uno = #{uno}
	</update>
	
	<delete id="deleteRoutine">
		delete from tbl_userroutine where uno = #uno}
	</delete>
	
	<select id="contentByUno" resultType="RoutineVo">
		select * from tbl_userroutine where uno = #{uno}
	</select>
	
	<update id="updateViewcnt">
		update tbl_userroutine set ur_viewcnt = #{ur_viewcnt} + 1
			where uno = #{uno}
	</update>

</mapper>
